<!-- header of webpage -->
<header>
  <!-- links java script -->
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
    <a href="/">Home</a>
    <a href="/users">Users (Login/Register)</a>
  </div>

  <div id="main">
    <button class="openbtn" onclick="openNav()">☰</button>
  </div>
  <!-- displays header of webpage -->
  <img src="/images/NEOtracker.png" alt="NEO tracker banner" class="banner">
  <!-- displays heading -->
  <div id="NEOdescription" class="heading">
    NASA Near Earth Object Tracker
  </div>
  <!-- displays the text nescol ultras -->
  <div id="teamname" class="subheading">
    NEScol Ultras
  </div>
</header>
